<!--Main layout-->
<main class="mt-5">
    <div class="container">
        <!--Section: Content-->
        <section>
            <div class="row">
                <div class="col-md-6 gx-5 mb-4">
                    <div class="bg-image hover-overlay shadow-2-strong" data-mdb-ripple-init
                        data-mdb-ripple-color="light">
                        <img src="pic3.jpg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 gx-5 mb-4">
                    <h4><strong>Hello, hola, Bonjour</strong></h4>
                    <p class="text-muted">
                        Welcome to Quizzit, your go-to platform for creating and taking online quizzes! Our site allows
                        admins to effortlessly design and manage a variety of quizzes, catering to different learning
                        levels and subjects. With an intuitive interface, setting up quizzes has never been easier.
                    </p>
                    <p><strong>Ready to challenge your knowledge and see how much you can learn?</strong></p>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
                        nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
                        alias, unde optio accusantium soluta, iusto molestiae adipisci et?
                    </p>
                </div>
            </div>
        </section>
        <!--Section: Content-->

        <hr class="my-5"/>