<%- include('partials/mdbheader'); -%>

</head>
<body>

    <style>
        body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
        /* input[type="text"]:focus {
            border: none;
            border-bottom: 1.5px solid rgb(47, 43, 50);
        } */

        /* input[type="text"] {
            border: none;
            border-bottom: 1.5px solid rgb(85, 82, 88);
            background-color: rgb(85, 82, 88);
        } */

        .more {
            border: 1.5px solid green;
        }

        /* .add{
            text-decoration: none;
            display:inline-block;
            width:30px;
            height:30px;
            background: #8b8b8b;
            font-size: 2rem;
            font-weight: bold;
            color:#fff;
            display: flex;
            justify-content: center;
            align-items: center;

        } */
        .delete{
            text-decoration: none;
            display:inline-block;
            width:30px;
            height:30px;
            background: #e60808;
            font-size: 2rem;
            font-weight: bold;
            color:#fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .textbox{
          height:40px;
          width: 400px;
        }
        
    </style>
   
   <header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a
            href="#"
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true"
          >
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Create quizz</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-lock fa-fw me-3"></i><span>Password</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-chart-line fa-fw me-3"></i><span>Analytics</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>SEO</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Orders</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-globe fa-fw me-3"></i><span>International</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-building fa-fw me-3"></i><span>Partners</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-calendar fa-fw me-3"></i><span>Calendar</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-users fa-fw me-3"></i><span>Users</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-money-bill fa-fw me-3"></i><span>Sales</span></a
          >
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <img
            src="pic16.jpg"
            height="40"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <!-- Search form -->
        <form class="d-none d-md-flex input-group w-auto my-auto">
          <input
            autocomplete="off"
            type="search"
            class="form-control rounded"
            placeholder='Search (ctrl + "/" to focus)'
            style="min-width: 225px;"
          />
          <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
        </form>
  
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <!-- Notification dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-bell"></i>
              <span class="badge rounded-pill badge-notification bg-danger">1</span>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">Some news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
  
          <!-- Icon -->
          <li class="nav-item">
            <a class="nav-link me-3 me-lg-0" href="#">
              <i class="fas fa-fill-drip"></i>
            </a>
          </li>
          <!-- Icon -->
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#">
              <i class="fab fa-github"></i>
            </a>
          </li>
  
          <!-- Icon dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
              href="#"
              id="navbarDropdown"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="united kingdom flag m-0"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="united kingdom flag"></i>English
                  <i class="fa fa-check text-success ms-2"></i
                ></a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#"><i class="poland flag"></i>Polski</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="china flag"></i>中文</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="japan flag"></i>日本語</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="germany flag"></i>Deutsch</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="france flag"></i>Français</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="spain flag"></i>Español</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="russia flag"></i>Русский</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="portugal flag"></i>Português</a>
              </li>
            </ul>
          </li>
  
          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
                class="rounded-circle"
                height="22"
                alt="Avatar"
                loading="lazy"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px;">
   
    <div class="questionblock"  style="padding: 25px;">
   <form class="main_form" action="/quiz" method="post">
    <button type="button" class="btn btn-dark add" data-mdb-ripple-init>ADD</button>
    <br> <br>
    <!-- <button type="submit" class="btn btn-primary btn-floating" data-mdb-ripple-init>
      <i class="fa fa-check" aria-hidden="true"></i>
    </button> -->
    <button type="submit" class="btn btn-success" data-mdb-ripple-init>DONE</button>
        </form>
    </div>



    <script>
     //dynamic field creation with javascript
     var i=0;
    const questionblock=document.querySelector(".questionblock");
    const addbtn=document.querySelector(".add");
   //remome input
   function removeInput(){
    this.parentElement.remove();
   }
   
  
        //addinput question
            function addinputquestion(i){ 
             
            //form
            const form=document.createElement("form");
            form.className="form";

            //label
            const qInputLabel=document.createElement("label");
            qInputLabel.innerHTML="<br> <h4>Enter the Question: </h4> \n" ;
            qInputLabel.style="font-family: Times New Roman ";
            // qInput.style="font-size: 20px";
            qInputLabel.htmlFor="text_question";

            //textarea
            const qInput=document.createElement("textarea");
            qInput.type="textarea";
            qInput.id="exampleFormControlTextarea5";
            qInput.className="form-control";
            qInput.rows="3";
            qInput.name="question";
            qInput.required;

            // //choose option
            // const label123=document.createElement("label");
            // label123.innerHTML="\n <h3>Choose your options</h3> <br>";
            // label123.htmlFor="text_question1";

            //select question type
            const qType=document.createElement("label");
            qType.innerHTML="\n <br><h5> Select question type </h5> <br>\n";
            
            //radio == single
            const radio=document.createElement("button");
            // radio.type="button";
            radio.id="single";
            radio.className="btn btn-primary btn-rounded";
            radio.name="option";
            radio.value="1";
            radio.ripple="data-mdb-ripple-init";
            radio.required;
            radio.innerHTML="SINGLE CORRECT"; 
            // const labelradio=document.createElement("label");
            // labelradio.innerHTML="Radio";
            // radio.addEventListener("click",radio_answer);
            radio.addEventListener("click", function() {
            radio_answer(i);
            });

            //checkbox
            const checkbox=document.createElement("button");
            // checkbox.type="radio";
            checkbox.id="multi";
            checkbox.className="btn btn-secondary btn-rounded";
            checkbox.name="option";
            checkbox.value="2";
            checkbox.ripple="data-mdb-ripple-init";
            checkbox.required;
            checkbox.innerHTML="MULTI CORRECT";
            // const labelcheckbox=document.createElement("label");
            // labelcheckbox.innerHTML="Checkbox";
            // checkbox.addEventListener("click",checkbox_answer);
            checkbox.addEventListener("click", function() {
            checkbox_answer(i);
            });


            //short-text
            const s_text=document.createElement("button");
            // text1.type="radio";
            s_text.id="word";
            s_text.className="btn btn-warning btn-rounded";
            s_text.name="option";
            s_text.value="3";
            s_text.ripple="data-mdb-ripple-init";
            s_text.required;
            s_text.innerHTML="SINGLE WORD";
            // const labeltext1=document.createElement("label");
            // labeltext1.innerHTML="text";
            // text1.addEventListener("click",text_answer);
            s_text.addEventListener("click", function() {
            s_text_answer(i);
            });

            

            //delete
            const del=document.createElement("a");
            del.className="btn btn-danger";
            del.innerHTML="DELETE";
            del.type="button";
            del.addEventListener("click",removeInput);

             //add
            const add=document.createElement("submit");
            add.innerHTML=`<br> <i class="fa fa-check" aria-hidden="true"> </i>`;
            add.className="btn btn-success btn-floating";
            // add.addEventListener("click",function(){
            //   add(i);
            // });

            //div of your option
            const your_options=document.createElement("div");
            your_options.id="your_options"+i;
            your_options.innerHTML="";
            
            //childappend
            questionblock.appendChild(form);
            form.appendChild(qInputLabel);
            form.appendChild(qInput);
            // form.appendChild(label123);
            form.appendChild(qType);
            form.appendChild(radio);
            // form.appendChild(labelradio);
            form.appendChild(checkbox);
            // form.appendChild(labelcheckbox);
            form.appendChild(s_text);
          
            // form.appendChild(labeltext1);
            form.appendChild(your_options);
            form.appendChild(del);form.append("\n\n");
            form.appendChild(add);
            }
            
            // addbtn.addEventListener("click",addinputquestion(i));
            addbtn.addEventListener("click", function() {
            addinputquestion(i);
            i++
            });

        //value=1 
             function radio_answer(i){ 
              
               document.getElementById("your_options"+i).innerHTML = `
                    <div class="radio">
                        <br>
                        <label for="radio"><h5> Enter the options </h5></label>
                        <br>
                        <input type="radio" id="option_type_radio" name="correct" value="1"  required>
                        <input type="text" id="text_question" class="textbox" name="radio_1" required>
                        <br> <br>
                        <input type="radio" id="option_type_radio" name="correct" value="2"  required>
                        <input type="text" id="text_question" class="textbox" name="radio_2" required>
                        <br> <br>
                        <input type="radio" id="option_type_radio" name="correct" value="3"  required>
                        <input type="text" id="text_question" class="textbox" name="radio_3" required>
                        <br> <br>
                        <input type="radio" id="option_type_radio" name="correct" value="4"  required>
                        <input type="text" id="text_question" class="textbox" name="radio_4" required>
                        <br><br>
                        
                    </div>
                `;
             }

            //  value=2
             function checkbox_answer(i){ 
               document.getElementById("your_options"+i).innerHTML = `
                    <div class="checkbox">
                        <br>
                        <label for="option_type_checkbox"><h5> Enter the options </h5></label>
                        <br>
                        <input type="checkbox" id="option_type_checkbox" name="correct_checkboxes" value="1">
                        <input type="text" id="text_question" class="textbox" name="checkbox_1" required>
                        <br> <br>
                        <input type="checkbox" id="option_type_checkbox" name="correct_checkboxes" value="2">
                        <input type="text" id="text_question" class="textbox" name="checkbox_2" required>
                        <br><br>
                        <input type="checkbox" id="option_type_checkbox" name="correct_checkboxes" value="3">
                        <input type="text" id="text_question" class="textbox" name="checkbox_3" required>
                        <br><br>
                        <input type="checkbox" id="option_type_checkbox" name="correct_checkboxes" value="4">
                        <input type="text" id="text_question" class="textbox" name="checkbox_4" required>
                        <br><br>

                    </div>
                    `;
            } 

            // value=3 
             function s_text_answer(i){ 
                document.getElementById("your_options"+i).innerHTML = `
                    <div class="text">
                        <br>
                        <label for="option_type_text_1"><h5>Enter the answer in a single word</h5></label>
                        <br>
                        
                        <input type="text" id="option_type_text_1" class="textbox" name="text_ans" required>
                        <br><br>
                    </div>
                    `;
            } 

    </script>
  </main>

<%- include('partials/mdbfooter'); -%>
