<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <form>
            <input type="radio" id="option1" name="options" value="option1" disabled>
            <label for="option1">Option 1</label><br>
        
            <input type="radio" id="option2" name="options" value="option2" disabled>
            <label for="option2">Option 2</label><br>
        
            <input type="radio" id="correctOption" name="options" value="correctOption" checked>
            <label for="correctOption">Correct Option</label><br>
        
            <input type="radio" id="option4" name="options" value="option4" disabled>
            <label for="option4">Option 4</label><br>
        </form>
        
    </form>
    
</body>
</html>