<%- include('adminhead'); -%>


  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px;">   
    <div class="questionblock"  style="padding: 25px;">
   <form class="main_form" action="/quiz" method="post">
    <h1 class="display-5">quiz_name</h1>
    <hr>
    



<div class="col-lg-4 col-md-12 mb-4">
  <div class="card">
    <div class="card-body">
          <!-- Default switch -->
<div class="form-check form-switch">
  
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
  <label class="form-check-label" for="flexSwitchCheckDefault"><p class="h6">Click for timer</p></label>
</div>


<div class="form-outline" id="timerSection" data-mdb-input-init>
  <input id="timer" name="timer" type="number"   required="true"  class="form-control" />
  <label class="form-label" for="typeNumber">Time in minutes</label>
</div>
    </div>
  </div>
</div>

    <button type="button" class="btn btn-success add" data-mdb-ripple-init>ADD</button> 
    <!-- <button type="submit" class="btn btn-primary btn-floating" data-mdb-ripple-init>
      <i class="fa fa-check" aria-hidden="true"></i>
    </button> -->

    <button type="button" class="btn btn-dark submit" style="float: right; margin-left: 10px;" data-mdb-ripple-init>DONE</button>
    <button type="submit" name="productData" class="btn btn-info done right" style="float: right; margin-right: 10px;" data-mdb-ripple-init>SUBMIT</button>

        </form>
    </div>

    <form style="width: 40rem;">
    
      <h4 style="font-family: Times New Roman ";>Enter your question :</h4>
      <div data-mdb-input-init class="form-outline mb-4">
        <textarea class="form-control" id="form4Example3" rows="4"></textarea>
      </div>
    
      <h4 style="font-family: Times New Roman ";>Enter the marks :</h4>
      <div class="form-outline" data-mdb-input-init>
        <input type="number" id="typeNumber" class="form-control" />
      </div>
     
      <br>

        <h4 style="font-family: Times New Roman ";>Select the type of question :</h4>
        <button type="button" class="btn btn-secondary" data-mdb-ripple-init>SINGLE CORRECT</button>
        <button type="button" class="btn btn-primary" data-mdb-ripple-init>MULTI CORRECT</button>
        <button type="button" class="btn btn-warning" data-mdb-ripple-init>SINGLE WORD</button>

      
      
      
    </form>





  </main>

  <%- include('partials/mdbfooter'); -%>