<a href="/user/home" class="list-group-item list-group-item-action py-2 " data-mdb-ripple-init
    aria-current="true">
    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
</a>
<a href="/user/overview" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init>
    <i class="fas fa-chart-area fa-fw me-3"></i><span>Test Overview </span>
</a>
<a href="/user/depth" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init><i
        class="fas fa-lock fa-fw me-3"></i><span>Depth</span></a>
<a href="#" class="list-group-item list-group-item-action py-2 active" data-mdb-ripple-init><i
        class="fas fa-chart-line fa-fw me-3"></i><span>Analytics</span></a>
<a href="#" class="list-group-item list-group-item-action py-2" data-mdb-ripple-init>
    <i class="fas fa-chart-pie fa-fw me-3"></i><span>SEO</span>
</a>